{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
<h2>Stocks Quotation:</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Symbol</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ stock.name }}</td>
                            <td>{{ price }}</td>
                            <td>{{ stock.symbol }}</td>
                        </tr>
                    </tbody>
                </table>
{% endblock %}
